.trending-section{
font-family: 'Poppins';
}
.tittle{
        height: 46px;
        font-family: spectral;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: #000002;
        margin-bottom: 24px;
        
}
.sub-tittle{
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
}
.trendingInfo-bg{
    background: linear-gradient(234.3deg, #C0D4FE 16.99%, #ECF1FD 91.97%);
        border: 1px solid #EDEDED;
        box-shadow: 5px 13px 18px -5px rgba(128, 128, 128, 0.1);
        backdrop-filter: blur(4.5px);
        border-radius: 25px;
}