.footer{
        color: #FFFFFF;
        font-family: poppins;
        background-image: url('../../assets/images/footer/Vector\ 2\ \(1\).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
}

.footer-header{
 font-weight: bold;
 font-size: 22px;
 line-height: 33px;
 margin: 30px 0;
}
.footer-base{
    height: 62px;
    font-family: poppins;
    font-style:normal ;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}